.header {
    width: 1440px;
    height: 40px;
    position: absolute;
    background-color: rgba(255, 249, 245, 1);
    margin-top: 19px;
}

.img {
    width: 62px;
    height: 34px;
    margin-left: 252px;
}